[Unit]
Description=PrintFlow - Gestion impressions 3D
After=network.target mariadb.service pcscd.service
Wants=mariadb.service
After=pcscd.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/printflow/backend
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=5
StandardOutput=journal
StandardError=journal
Environment=NODE_ENV=production
Environment=LIBRARY_PATH=/opt/printflow/library

[Install]
WantedBy=multi-user.target
